html, body {
	min-height: 100%;
	margin-left: 15px;
	
	}
	form {
	width: 90%;
	padding: 20px;
	border-radius: 6px;
	background: #fff;
	box-shadow: 0 0 10px  #669999; 
	}
   
	.heading {
	position: relative;
	background-color: rgba(0, 0, 0, 0.1);
	height: 100px;
	padding-left: 4%;
	border-radius: 25px;
	}
	
	input#keyword {
	margin-bottom: 10px;
	border: 1px solid #ccc;
	border-radius: 3px;
	padding-left: 4%;
	}
	input#keyword {
	width: calc(100% - 10px);
	padding: 5px;
	padding-left: 4%;
	margin-top: 15px;
	}
    #filter{
       font-size: large;
       padding-left: 20px;
    }
	input::placeholder{
		font-size: medium;
	}
	
	.item:hover p, input:hover::placeholder {
	color:  #669999;
	}
	.item input:hover{
	border: 1px solid transparent;
	box-shadow: 0 0 3px 0  #669999;
	color: #669999;
	}
	.item {
	position: relative;
	margin: 10px 0;
	}
	.item span {
	color: red;
	}
	
	.colums {
	display:flex;
	justify-content:space-between;
	flex-direction:row;
	flex-wrap:wrap;
	padding-left: 4%;
	margin-top: 20px;
	}
	.colums div {
	width:48%;
	}
	
	.circular-chart {
		display: block;
		margin: 10px auto;
		max-width: 80%;
		max-height: 250px;
	  }
	  
	  .circle {
		stroke: #4CC790;
		fill: none;
		stroke-width: 2.8;
		stroke-linecap: round;
		animation: progress 1s ease-out forwards;
	  }
	  
	  @keyframes progress {
		0% {
		  stroke-dasharray: 0 100;
		}
	  }
	  
   div#resultheadings{
    margin-bottom: 20px;
   }
	.testbox{
        margin-bottom: 15px;
    }
	.btn-block {
	margin-top: 10px;
	text-align: center;
	}
	button {
	width: 150px;
	padding: 10px;
	border: none;
	border-radius: 5px; 
	background:  #669999;
	font-size: 16px;
	color: #fff;
	cursor: pointer;
	}
	button:hover {
	background:  #a3c2c2;
	}
	